:root {
    --purple-100: hsl(254, 88%, 90%);
    --purple-500: hsl(256, 67%, 59%);

    --yellow-100: hsl(31, 66%, 93%);
    --yellow-500: hsl(39, 100%, 71%);
    --default-card-padding: 30px;
    --default-card-border-radius: 10px;
}

@font-face {
    font-family: 'DMSans';
    src: url(./assets/fonts/DMSans-VariableFont_opsz\,wght.ttf);
}



body {
    display: grid;
    min-height: 100svh;
    max-width: 100svw;
    container: body / inline-size;
    font-weight: 400;
    color: black;
    font-family: 'DMSans';
    margin: 0;
    position: relative;
    background-color: whitesmoke;
}

main {
    display: grid;
    container: main / inline-size;
    min-height: 100svh;
    place-items: center;
}

div[class="attribution"] {
	position: absolute;
	bottom: 5px;
	left: 0;
	right: 0;
}